@font-face {
    font-family: "cursedtimer";
    src: url(cursedtimer.ttf);
}

body {
    margin: 0;
    text-align: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url(basketball-background.png);
    background-size: cover;
    background-position: center;
   
}


.container {
    display: flex;
    justify-content: space-around;
    background: #1B244A;
    /* allow items to wrap so the reset button can move to a new row */
    flex-wrap: wrap;
    /* make the container responsive: cap width but allow smaller screens */
    max-width: 575px;
    width: 90%;
    margin: 100px auto;
    padding: 30px 0;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    /* let container height grow to fit wrapped content */
    height: auto;
}

h3 {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 15px;
}

.score {
    color: #F94F6D;
    font-family: cursedtimer;
    font-size: 90px;
    width: 120px; 
    background-color: #080001;
    margin: 20px; 
    
}

button {
    
    color: #9AABD8;
    background: #1B244A;
    border: 2px solid #9AABD8;
    height: 45px;
    width: 45px; 
    border-radius: 5px;
    font-family: cursedtimer;
    margin: 15px 2px 20px 2px ;
    font-size: 18px;
    font-weight: bold;
  

}
.reset-button {
    width: 150px;
    height: 50px;
    font-size: 22px;
    margin-top: 80px;
}

/* make the wrapper div that contains the reset button take a full row and center the button */
.reset-row {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}
button:hover {
    background: #F94F6D;
    color: white;
    border: 2px solid #F94F6D;
    cursor: pointer;
}